@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Merriweather:wght@400;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", "Segoe UI";
}

html,
body {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

body {
  overflow-x: hidden;
  background-color: #5d5d5a;
  color: #fff4e3;
  font-family: "Manrope", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

h4 {
  font-size: 25px;
  font-family: "Merriweather" !important;
}

.sidenav {
  max-width: 150px;
  width: 100%;
  position: absolute;
  background: rgb(4, 3, 6);
  height: -webkit-fill-available;
}

.container_back {
  background-color: #ffa45c !important;
}

.auth_box {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booking_item {
  background: #1565c0;
  margin: 10px 0px;
  border-radius: 6px;
  padding: 0px 15px;
}

.orline {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.orline > hr {
  border: none;
  border-top: 1px solid #ddd;
  clear: both;
  flex-grow: 1;
  margin: 0;
}

.orline > div {
  padding: 0 20px;
}

.paginate_list {
  display: flex;
  list-style: none;
}

@media (max-width: 560px) {
  .sidenav {
    height: fit-content;
    max-width: 100%;
    position: static;
  }

  .main_content {
    padding: 20px 0 !important;
  }
}
